* {
    outline: red solid 1px;
}

body {}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

button {
    width: 500px;
    height: 50px;
}
