body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}

button {
    width: 150px;
    color: aqua;
    background-color: black;
    margin: 10px;
}

p {
    color: red;
    margin: 10px;
}